button.no-style {
    appearance: none;
    display: inline-block;

    margin: 0;
    padding: 0;
    min-height: unset;
    min-width: unset;

    font-family: inherit;
    font-size: calc(var(--unit) * 2.25);
    font-weight: normal;
    font-variation-settings: "wght" 400;
    color: inherit;
    text-align: left;

    border-radius: 0;
    border: none;
    background-image: none;
    background-color: transparent;

    transition: all 0.3s ease, outline 0s linear;
    user-select: none;
}

.button,
button:not(.no-style) {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: var(--unit);
    padding: var(--unit) calc(var(--unit) * 2);
    min-height: 3rem;
    min-width: 10rem;

    font-family: "Inter", sans-serif;
    font-size: calc(var(--unit) * 2);
    font-weight: normal;
    font-variation-settings: "wght" 600;
    line-height: 1;
    text-decoration: none;
    color: var(--color-fg-default);

    border-radius: 3px;
    border: none;

    transition: all 0.3s ease;
    backface-visibility: hidden;
    will-change: transform;
    transform-style: preserve-3d;
}

.button,
button:not(.no-style) {
    background-color: hsl(var(--_color-bg-a1));
    box-shadow: var(--shadow-md);
    outline: 1px dashed transparent;
    outline-offset: calc(var(--unit) * 1);
    color: var(--main-bg);
    box-shadow: var(--shadow-1);
}

.button:hover,
button:not(.no-style):hover {
    filter: brightness(110%) saturate(90%);
    box-shadow: var(--shadow-2);
    transform: scale(1.025) translateY(calc(var(--unit) / 8 * -1));
}

.button:active,
button:not(.no-style):active {
    box-shadow: var(--shadow-sm), rgba(255, 255, 255, 0.1) 0 0 0 100rem inset;
}

.button,
button {
    outline-offset: calc(var(--unit) * 1);
}

.button:focus,
button:focus {
    outline: none;
}

.button:focus:not(:active),
button:focus:not(:active) {
    outline: 1px dashed #869dd2;
}

button:disabled {
    opacity: 0.4;
}

/*
 * Primary
 */

button[type="primary"],
button[type="submit"]:not(.no-style),
button.primary {
    color: var(--color-fg-default);
    background-color: var(--color-action);
}

button[type="primary"]:hover,
button[type="submit"]:not(.no-style):hover,
button.primary:hover {
}
/* 
.button.primary:hover,
button[type="submit"]:not(.no-style):hover,
button.primary:hover {
}

.button.primary:active,
button[type="submit"]:not(.no-style):active,
button.primary:active {
}

.button.primary:focus,
button[type="submit"]:not(.no-style):focus,
button.primary:focus {
}
*/
